 .add_product_btn{
    button {
        margin-top: 15px;
        padding: 5px 15px;
        border: none;
        font-size: 20px;
        border-radius: 4px;
        background-image: linear-gradient(to right, indigo 0%, #9966ec 51%, rgb(44, 11, 68) 100%);
        color: #fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        @media (max-width: '510px') {
          width: 100%;

        }

        &:hover {
          // transform: scale(1.05);
          transition: all .3s;
        }

        // &:active {
        //   transform: scale(0.8);

        // }
      }
 }