.cart {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: auto;
    padding: 0 20px;
    padding-top: 80px;

    @media (max-width: '1170px') {
        flex-wrap: wrap;        
        align-items: center;
        margin-top: 20px;

    }

    .no_product {
        width: 100%;
        text-align: center;
    }

    .total_price {
        position: fixed;
        right: 0;
        top: 70px;
        width: 33%;
        z-index: 31;
        border-radius: 5px;
        padding: 20px;
        background: #fff;
        box-shadow: 1px 1px 11px 1px rgba(102, 93, 93, 0.67);
        -webkit-box-shadow: 1px 1px 11px 1px rgba(102, 93, 93, 0.67);
        -moz-box-shadow: 1px 1px 11px 1px rgba(102, 93, 93, 0.67);

        .all_price {
            display: flex;
            align-items: center;
            justify-content: space-between;
             h1{
                font-size: 20px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

             }
            span {
                font-size: 17px;
                font-weight: 700;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        }

        p {
            margin-top: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .checkout_btn {
            width: 100%;
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            gap: 15px;

            @media (max-width: '1170px') {
                flex-direction: column;
                gap: 0;
                margin-top: 10px;


            }

            a {

                display: flex;
                justify-content: center;
                align-items: center;
                background-color: indigo;
                padding: 10px;
                border-radius: 5px;
                color: #fff;
                font-size: 15px;
                width: 100%;
                border: none;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

                &:hover {
                    transition: all .4s;
                    transform: scale(1.06);

                    &:nth-child(2) {
                        .right_icon {
                            transform: translateX(20px);
                            transition: all .4s;
                        }
                    }
                }

                .right_icon {
                    margin-left: 5px;
                }

                @media (max-width: '1170px') {
                    margin-top: 15px;

                }
            }
        }


        @media (max-width: '1170px') {
            position: static;
            width: 100%;
            margin-left: 0;
            margin-top: 20px;


        }
    }

    .overflow_table {
        overflow-x: auto;
        width: 65%;
        border-radius: 5px;
        // border: 1px solid indigo;

        @media (max-width: '1170px') {
            width: 100%;


        }

         
        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            table-layout: fixed;

             
            tr {
                background-color: #f8f8f8;
                border: 1px solid #ddd;
                padding: .35em;
            }

            th,
            td {
                padding: .625em;
                text-align: start;

                &:nth-child(1) {
                    width: 100px;
                     @media (max-width: '1170px') {
                    
                    width: 100%;
                }
                }
            }

            th {
                font-size: .85em;
                letter-spacing: .1em;
                text-transform: uppercase;
            }

            @media screen and (max-width: 1000px) {
                border: 0;

                caption {
                    font-size: 1.3em;
                }

                thead {
                    border: none;
                    clip: rect(0 0 0 0);
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    width: 1px;
                }

                tr {
                    border-bottom: 3px solid #ddd;
                    display: block;
                    margin-bottom: .625em;
                }

                td {
                    border-bottom: 1px solid #ddd;
                    display: block;
                    font-size: .8em;
                    text-align: right;

                    &::before {
                        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
                        content: attr(data-label);
                        float: left;
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}