.users {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: auto;
    padding: 0 10px;
    padding-top: 80px;
    padding-left: 20%;
    @media (max-width: '1170px') {
        flex-wrap: wrap;        
        align-items: center;
        margin-top: 20px;

    }

    .no_product {
        width: 100%;
        text-align: center;
    }
    .dont_add{

        width: 100%;
        text-align: center;

    }

    .total_price {
        position: fixed;
        right: 0;
        top: 70px;
        width: 33%;
        z-index: 31;
        border-radius: 5px;
        padding: 20px;
        background: #fff;
        box-shadow: 1px 1px 11px 1px rgba(102, 93, 93, 0.67);
        -webkit-box-shadow: 1px 1px 11px 1px rgba(102, 93, 93, 0.67);
        -moz-box-shadow: 1px 1px 11px 1px rgba(102, 93, 93, 0.67);

        .all_price {
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                font-size: 25px;
                font-weight: 600;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        }

        p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .checkout_btn {
            width: 100%;
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            gap: 15px;

            @media (max-width: '1170px') {
                flex-direction: column;
                gap: 0;
                margin-top: 10px;


            }

            a {

                display: flex;
                justify-content: center;
                align-items: center;
                background-color: indigo;
                padding: 10px;
                border-radius: 5px;
                color: #fff;
                font-size: 15px;
                width: 100%;
                border: none;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

                &:hover {
                    transition: all .4s;
                    transform: scale(1.06);

                    &:nth-child(2) {
                        .right_icon {
                            transform: translateX(20px);
                            transition: all .4s;
                        }
                    }
                }

                .right_icon {
                    margin-left: 5px;
                }

                @media (max-width: '1170px') {
                    margin-top: 15px;

                }
            }
        }


        @media (max-width: '1170px') {
            position: static;
            width: 100%;
            margin-left: 0;
            margin-top: 20px;


        }
    }
.overflow_table{
    width: 100%;
}
    table{
        width: 100%;
        th{
            text-align: left;
        }
        td img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
}