.users {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: auto;
    padding: 0 20px;
    padding-top: 80px;

    @media (max-width: '1170px') {
        flex-wrap: wrap;        
        align-items: center;
        margin-top: 20px;

    }

    .no_product {
        width: 100%;
        text-align: center;
    }
    .dont_add{

        width: 100%;
        text-align: center;

    }

    .total_price {
        position: fixed;
        right: 0;
        top: 70px;
        width: 33%;
        z-index: 31;
        border-radius: 5px;
        padding: 20px;
        background: #fff;
        box-shadow: 1px 1px 11px 1px rgba(102, 93, 93, 0.67);
        -webkit-box-shadow: 1px 1px 11px 1px rgba(102, 93, 93, 0.67);
        -moz-box-shadow: 1px 1px 11px 1px rgba(102, 93, 93, 0.67);

        .all_price {
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                font-size: 25px;
                font-weight: 600;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        }

        p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .checkout_btn {
            width: 100%;
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            gap: 15px;

            @media (max-width: '1170px') {
                flex-direction: column;
                gap: 0;
                margin-top: 10px;


            }

            a {

                display: flex;
                justify-content: center;
                align-items: center;
                background-color: indigo;
                padding: 10px;
                border-radius: 5px;
                color: #fff;
                font-size: 15px;
                width: 100%;
                border: none;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

                &:hover {
                    transition: all .4s;
                    transform: scale(1.06);

                    &:nth-child(2) {
                        .right_icon {
                            transform: translateX(20px);
                            transition: all .4s;
                        }
                    }
                }

                .right_icon {
                    margin-left: 5px;
                }

                @media (max-width: '1170px') {
                    margin-top: 15px;

                }
            }
        }


        @media (max-width: '1170px') {
            position: static;
            width: 100%;
            margin-left: 0;
            margin-top: 20px;


        }
    }

    .overflow_table {
        overflow-x: auto;
        width: 80%;
        margin: auto;
        border-radius: 5px;
        border: 1px solid indigo;

        @media (max-width: '1170px') {
            width: 100%;


        }

        table {
            width: 100%;
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;

            @media (max-width: '1170px') {
                width: 600px;


            }

            thead {


                th {

                    padding: 5px;
                    text-align: start;
                    border-right: 1px solid indigo;
                    border-bottom: 1px solid indigo;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    color: #000;
                    &:nth-last-child(1){
                            border-right: 0;
                        }
                }
            }

            tbody {

                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 5px;
                }

                tr {
                    border-radius: 10px;
                    padding: 5px;
                    text-align: start;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    padding-left: 10px;

                    td {
                        &:nth-child(2) {

                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }



                        padding: 10px;
                        border-right: 1px solid rgb(204, 111, 251);
                        &:nth-last-child(1){
                            border: 0;
                        }
                    }
                }

                .plus_minus_btn {
                    display: flex;
                    border: 1px solid indigo;
                    border-radius: 4px;
                    justify-content: space-between;

                    width: 100px;
                    height: 30px;

                    span {
                        font-size: 20px;
                    }

                    button {
                        background: indigo;
                        outline: none;
                        width: 30px;
                        border: none;
                        height: 100%;
                        border-right: 1px solid indigo;
                        color: #fff;
                        border: none;

                        &:hover {

                            .plus_icon,
                            .minus_icon {
                                transition: all .4s;
                                transform: rotate(180deg);
                            }

                        }
                    }
                }
           .delete{
            // width: 100%;
            // height: 100%;
            // display: flex;
            // justify-content: space-between;
            // align-items: center;
     .delete_btn {
                    --font-color: #323232;
                    --bg-color-sub: #dedede;
                    --bg-color: #eee;
                    --main-color: #323232;
                    position: relative;
                    width: 100px;
                    height: 30px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    border: 1px solid indigo;
                    background-color: #fff;
                    border-radius: 4px;
                    overflow: hidden;
                    margin: auto;
                }

                .delete_btn,
                .btn_icon,
                .btn_text {
                    transition: all 0.3s;
                }

                .delete_btn .btn_text {
                    transform: translateX(20px);
                    color:indigo;
                    font-weight: 600;
                }

                .delete_btn .btn_icon {
                    position: absolute;
                    transform: translateX(70px);
                    height: 100%;
                    width: 39px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-left: 1px solid indigo;
                }

                 

                .delete_btn:hover .btn_text {
                    color: transparent;
                }

                .delete_btn:hover .btn_icon {
                    width: 100px;
                    transform: translateX(0);
                }

                .delete_btn:active {
                    transform: translate(3px, 3px);
                }
           }
           
            }
        }
    }
}