.total_section{
   background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../../Constants//data/images/totalSecBg.webp"),rgba(0,0,0,0.5) no-repeat center center;
   background-size: cover;
   height: 300px;
   display: flex; 
   align-items: center;
   justify-content: center;
 h1{
    color: #fff;
 }
}   