
.header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../assets/sliderImages/img5.jpg) center/cover no-repeat fixed;
    
    .search_input {
        position: relative;
        width: 100%;
        text-align: center;
     
        .input_box {
            position: relative;
            width: 40%;
            margin: 0 auto;
             @media (max-width: '1060px') {
           width: 90%;
        }
            input {
                width: 100%;
                outline: none;
                padding: 10px 20px;
                border-radius: 30px;
                height: 50px;
                font-size: 20px;
                border: 1px solid indigo;
            }

            .search_btn {
                position: absolute;
                background-color: #fff;
                top: 15px;
                right: 20px;
                color: #666;
            }
        }

        .searched_products {
            position: absolute;
            width: 50%;
            height: auto;
            background-color: #fff;
            border-radius: 5px;
            padding: 20px;
            top: 60px;
            left: 25%;
 @media (max-width: '1060px') {
           width: 90%;
           left: 5%;
        }
            .names {
                display: flex;
                flex-direction: column;
                align-items: start;

                a {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                    color: #333;
                    font-family: "Noto Sans";

                    span {
                        margin-left: 20px;
                        font-size: 15px;
                        font-weight: 600;

                    }

                    &:hover {
                        color: indigo;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .fixed {
        position: fixed;
        top: 10px;
        z-index: 999;
        width: 100%;
        text-align: center;
          @media (max-width: '800px') {
           top: 0;
        }
        .input_box {
            position: relative;
            width: 40%;
            margin: 0 auto;
             @media (max-width: '1060px') {
           width: 100%;
        }
            input {
                width: 99%;
                outline: none;
                padding: 10px;
                border-radius: 4px;
                height: 35px;
                margin: auto;
                font-size: 18px;
                border: none;
                background-color: rgb(243, 234, 249);
            }

            .search_btn {
                position: absolute;
                background-color: rgb(243, 234, 249);
                top: 7px;
                right: 2%;
                color: #666;
            }
        }

        .searched_products {
            position: absolute;
            width: 50%;
            height: auto;
            background-color: #fff;
            border-radius: 5px;
            padding: 20px;
            top: 60px;
            left: 25%;
 @media (max-width: '1060px') {
           width: 90%;
           left: 5%;
        }
            .names {
                display: flex;
                flex-direction: column;
                align-items: start;

                a {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                    color: #333;
                    font-family: "Noto Sans";

                    span {
                        margin-left: 20px;
                        font-size: 15px;
                        font-weight: 600;

                    }

                    &:hover {
                        color: indigo;
                        font-weight: 600;
                    }
                }
            }
        }
    }
     .waves{
        position: absolute;
        bottom:20px;
        left: 0;
        right: 0;
        background-color: transparent;
        .wave {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 20px;
        background: url('../../assets/wave.png');
        background-size: 1000px 100px;

    }

    .wave1 {
        z-index: 1000;
        opacity: 1;
        bottom: 0;
        animation: animationWave 4s linear infinite;


    }

    .wave2 {
        z-index: 999;
        opacity: 0.5;
        bottom: 10px;
        animation: animationWave2 4s linear infinite;


    }

    .wave3 {
        z-index: 1000;
        opacity: 0.2;
        bottom: 15px;
        animation: animationWave 5s linear infinite;


    }

    .wave4 {
        z-index: 999;
        opacity: 0.7;
        bottom: 20px;
        animation: animationWave2 5s linear infinite;


    }

    @keyframes animationWave {
        0% {
            background-position-x: 1000px;
        }

        100% {
            background-position-x: 0px;
        }
    }

    @keyframes animationWave2 {
        0% {
            background-position-x: 0px;
        }

        100% {
            background-position-x: 1000px;
        }
    }
     }
   
}
