 @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Knewave&family=Nova+Slim&family=Nunito+Sans:wght@300;1000&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&family=Roboto:wght@700&family=Titillium+Web:wght@600&display=swap');

 .navbar {
     position: fixed;
     width: 100%;
     background: #fff;
     box-shadow: 1px 0px 7px -1px rgba(166, 154, 154, 0.75);
     -webkit-box-shadow: 1px 0px 7px -1px rgba(166, 154, 154, 0.75);
     -moz-box-shadow: 1px 0px 7px -1px rgba(166, 154, 154, 0.75);
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 12px;
     top: 0;
     z-index: 1000;

     .admin_auth {
         display: flex;
         align-items: center;

         .cart {
             padding-right: 15px;
             width: 24px;
             height: 24px;
             margin-right: 15px;
             position: relative;
             display: flex;
             justify-content: center;
             align-items: center;

             a {
                                 
                 margin: auto;

                 .notifacation_icon {
                     color: indigo;

                     &:hover {
                         transition: all .4s;
                         transform: scale(1.2);
                     }
                 }

                 span {
                     position: absolute;
                     padding-right: 10px;
                     display: flex;
                     justify-content: center;
                     right: 0;
                     top: -10px;
                     left: 11px;
                     border-radius: 50%;
                     border: 3 solid indigo;
                     font-weight: bolder;
                     color: indigo;
                     width: 24px;
                     height: 24px;
                     font-family: 'Times New Roman', Times, serif;
                 }
             }
         }

         .profile {
             display: flex;
             justify-content: space-between;
             position: relative;
             align-items: center;


             h1 {
                 font-size: 17px;
                 color: rgba(43, 9, 67, 0.8);
                 margin-right: 10px;
                 font-family: "Noto Sans";
                  @media (max-width: '800px') {
                         display: none;
                     }

                 span {
                     @media (max-width: '250px') {
                         display: none;
                     }
                 }
             }

             .auth_modal {
                 position: absolute;
                 background-color: white;
                 top: 50px;
                 right: 10px;
                 width: 300px;
                 border-radius: 5px;
                 height: auto;
                 padding: 10px;
                 box-shadow: -1px 1px 12px 1px rgba(0, 0, 0, 0.55);
                 -webkit-box-shadow: -1px 1px 12px 1px rgba(0, 0, 0, 0.55);
                 -moz-box-shadow: -1px 1px 12px 1px rgba(0, 0, 0, 0.55);
                 z-index: 9999;

                 @media (max-width: '300px') {
                     width: 250px;
                 }

                 h1 {
                     color: #000;
                     font-size: 23px;
                     font-family: 'Montserrat' sans-serif;

                     @media (max-width: '600px') {
                         font-size: 15px;
                     }
                 }

                 p {
                     color: #898787;

                     @media (max-width: '320px') {
                         font-size: 12px;
                     }

                 }

                 div {
                     position: relative;

                     .top_icon {
                         position: absolute;
                         right: -10px;
                         top: -66px;
                         color: #fff;
                     }
                 }

                 .links {
                     display: flex;
                     flex-direction: column;

                     .logout {
                         display: flex;
                         align-items: center;
                         width: 50%;
                         margin: auto;
                         border: none;
                         padding: 4px;
                         margin: 5px 0;
                         border-radius: 5px;
                         color: #fff;
                         background-color: rgb(247, 50, 50);
                         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

                         img {
                             width: 15px;
                             margin-left: 15px;

                         }

                         &:hover {
                             transition: all .3s;
                             transform: scale(1.02);

                             img {
                                 transition: all .4s;
                                 transform: translateX(10px);
                             }
                         }

                     }

                     a {
                         color: #fff;
                         padding: 4px;
                         margin: 5px 0;
                         border-radius: 5px;
                         background-color: rgb(152, 46, 228);

                         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

                         &:hover {
                             transition: all .3s;
                             transform: scale(1.01);
                             background-color: indigo;
                             color: #fff;

                         }
                     }

                     .authActiveLinks {
                         background-color: indigo;
                         color: #fff;

                     }




                 }


             }
         }

         .btn_profile {
             display: flex;
             align-items: center;
             background-color: transparent;
             border: 1px solid rgb(178, 112, 226);
             border-radius: 50%;

             button {
                 background-color: transparent;
                 display: none;
             }

             img {
                 width: 30px;
                 height: 30px;
                 border-radius: 50%;
             }
         }
     }
       .search_admin{
        position: relative;
        width: 50%;
        @media (max-width: '800px') {
           width: 100%;
        }
        input{
            font-size: 16px;
        outline: none;
        width: 90%;
        margin: auto;
        padding: 7px 5px;
        border-radius: 4px;
        border: 1px solid rgb(180, 103, 234);
        }
        .search_icon{
            position: absolute;
            right: 15%;
            top: 8px;
            color: #a7a6a6;
            background-color:#fff;

        }
       } 
         .searched_products {
            position: absolute;
            width: 50%;
            height: auto;
            background-color: rgb(245, 242, 247);
            border-radius: 5px;
            padding: 20px;
            top: 60px;
            left: 25%;
 @media (max-width: '1060px') {
           width: 90%;
           left: 5%;
        }
            .names {
                display: flex;
                flex-direction: column;
                align-items: start;

                a {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                    color: #807d7d;
                    font-family: "Noto Sans";

                    span {
                        margin-left: 20px;
                        font-size: 15px;
                        font-weight: 600;

                    }

                    &:hover {
                        color: indigo;
                        font-weight: 600;
                    }
                }
            }
        }
 }

 .navLeft {
     // display: none;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
     box-shadow: 1px 8px 7px -7px rgba(240, 235, 235, 0.75);
     -webkit-box-shadow: 1px 8px 7px -7px rgba(240, 235, 235, 0.75);
     -moz-box-shadow: 1px 8px 7px -7px rgba(240, 235, 235, 0.75);
     background-color: indigo;
     width: 18%;
     height: 100vh;
     position: fixed;
     top: 0;
     padding: 0 10px;
     padding-top: 15px;
     transition: transform 0.3s ease-in-out;
     z-index: 1001;

     .navMenu {
         justify-content: space-between;
         display: flex;
         align-items: center;

         a {
             font-size: 20px;
             color: #fff;
             font-family: 'Salsa', cursive;
             font-weight: 600;
             letter-spacing: 2px;
         }

         .faTimes {
             color: #fff;
             display: none;

             &:hover {
                 transform: scale(1.2);
                 transition: all .3s;
             }

             @media (max-width: 1024px) {


                 display: flex;


             }
         }
     }
     .user_page{
        bottom: 20px;
        position: absolute;
        a{
            display: flex;
            align-items: center;
            color: #fff;
            font-size: 16px;
            font-family: "Noto Sans";
            span:nth-child(1){
                font-size: 25px;
                margin-right: 10px;

            }
            span:nth-child(2){
                font-size: 25px;
                margin-left: 10px;

            }
            &:hover{
                transition: all .7s;
                // transform: translateX(5px);
                span:nth-child(2){
                                    transition: all .7s;

                                    transform: translateX(20px);

                }
            }
        }
     }

     @media (max-width: 1024px) {
         width: 300px;
         // margin-left: -100%;

         .faBars {
             display: flex;
         }

     }


     a {
         display: flex;

     }

     span {
         display: flex;
         flex-direction: column;
         align-items: center;
     }

     a span h1,
     p {
         color: #fff;
     }

     @media (max-width: 1024px) {
         // display: none;
         left: -100%;
         width: 80%;


     }


     ul {
         padding-top: 70px;
         list-style: none;

         li {
             width: 100%;
             padding: 5px 0;


             .icons {
                 margin-right: 12px;
             }

             .active {
                 border-right: 4px solid #3F8CFF;
                 color: #a9a7a7;
                 transition: all .3s;

                 .icons {
                     color: #3F8CFF;
                 }
             }
         }


     }


     ul li a {
         width: 100%;
         color: #FFFF;
         font-size: 16px;
         font-family: 'Nunito Sans', sans-serif;
         font-family: 'Poppins', sans-serif;
         // margin: 20px 0;
         padding: 5px 10px;
         // background-color: aqua;
         border-radius: 1px;
         display: flex;
         align-items: center;
         // padding-right: 10px;

     }


 }

 .navLeft.active {
     left: 0;
 }

 .block {
     display: block;

 }

 .hidden {
     display: none;
 }

 .showNav {
     visibility: visible;
     transition: all 1s;
     transform: translateY(0);

 }

 .hiddenNav {
     visibility: hidden;
     transition: all 0.2s;
     transform: translateY(-100%);

 }
 .note_modal{
    text-align: right;
    padding: 0 5px;
 }