tr {
    border-radius: 10px;
    padding: 5px;
    text-align: start;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10px;

    td {

        &:nth-child(2) {
            padding: 20px;
            img {
                width: 90%;
                border-radius: 5px;
                mix-blend-mode: multiply;
                height: 100px;

                @media (max-width: '1170px') {
                    mix-blend-mode: multiply;
                    width: 150px;
                    margin: auto;
                }

            }

            @media (max-width: '1170px') {
                margin: auto;
                width: 100%;

            }
        }



        padding: 10px;
    }



    .plus_minus_btn {
        display: flex;
        border: 1px solid indigo;
        border-radius: 4px;
        justify-content: space-between;
        width: 100px;
        text-align: right;
        margin-left: auto;
        height: 30px;

        span {
            font-size: 20px;
        }

        button {
            background: indigo;
            outline: none;
            width: 30px;
            border: none;
            height: 100%;
            border-right: 1px solid indigo;
            color: #fff;
            border: none;

            &:hover {

                .plus_icon,
                .minus_icon {
                    transition: all .4s;
                    transform: rotate(180deg);
                }

            }
        }
    }

    .delete {

        .delete_btn {

            position: relative;
            width: 100px;
            height: 30px;
            cursor: pointer;
            display: flex;
            align-items: center;
            border: 1px solid indigo;
            background-color: #fff;
            border-radius: 4px;
            overflow: hidden;

            @media (max-width: '1170px') {
                margin-left: auto;


            }
        }

        .delete_btn,
        .btn_icon,
        .btn_text {
            transition: all 0.3s;
        }

        .delete_btn .btn_text {
            transform: translateX(20px);
            color: indigo;
            font-weight: 600;
        }

        .delete_btn .btn_icon {
            position: absolute;
            transform: translateX(70px);
            height: 100%;
            width: 39px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: 1px solid indigo;
            color: red;
        }



        .delete_btn:hover .btn_text {
            color: transparent;
        }

        .delete_btn:hover .btn_icon {
            width: 100px;
            transform: translateX(0);
        }

        .delete_btn:active {
            transform: translate(3px, 3px);
        }
    }
}